.background-blue {
    background-color: rgb(13, 161, 142);
    height: 100vh;
}

.greyLevel3 {
    background-color: rgb(228, 228, 228);
}

.semi-night {
    background-color: rgba(0, 0, 0, 0.411);
}