.window-span {
    width: 100vw;
    height: 93.9vh;
}

.centered-image {
    display: block;
    margin: 0 auto;
}

.eclipsed-text {
    white-space: none;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.center-text {
    text-align: center;
}

.no-decore {
    text-decoration: none;
    color: inherit;
    background: none;
}

.icon-wrap {
    color: gold;
    margin-top: 0.3rem;
}

.star-fill {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.star-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

.title-inline {
    display: inline;
}

.invisible-button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }